<!doctype html>
<html lang="ja">
  <head>
    <%= render 'layouts/meta' %>

    <title><%= build_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/footer' %>

    <%= render 'shared/active_link' %>

  </body>
</html>
